/* Common CSS Starts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  font-family: 'Comic Neue', cursive;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #181818;
}

section {
  min-height: 100vh;
  padding: 2rem 5%;
}

*::selection {
  background: blue;
  color: #fff;
}

html::-webkit-scrollbar {
  width: 0.3rem;
}

html::-webkit-scrollbar-track {
  background: snow;
}

html::-webkit-scrollbar-thumb {
  background: blue;
}

/* Common CSS Ends */


/* Header Starts */

/* Navbar Starts */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 10%;
  height: 4rem;
  background-color: #212121;
  box-shadow: 0 1px 4px snow;
}

header .logo {
  font-size: 2rem;
  color: white;
}

header .logo:hover {
  color: skyblue;
}

header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar li {
  margin-left: 2rem;
}

header .navbar ul li a {
  font-size: 1.3rem;
  color: #aaa;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: skyblue;
  border-bottom: 0.05rem solid snow;
  border-radius: .5rem;
  padding: 0.3rem 0;
}

/* Navbar Ends */


/* Hamburger Icon Starts*/
#menu {
  font-size: 1.5rem;
  cursor: pointer;
  color: skyblue;
  display: none;
}

@media (max-width: 768px) {
  #menu {
    display: block;
  }

  header .navbar {
    position: fixed;
    top: 5rem;
    right: -120%;
    width: 50%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: #373737;
  }

  header .navbar ul {
    flex-flow: column;
    padding: 1rem;
  }

  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 10rem;
  }

  header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: #aaa;
    font-size: 1.5rem;
  }

  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.05rem solid snow;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  header .navbar.nav-toggle {
    right: 0;
  }
}

/* Hamburger Icon Ends*/


/* Header Ends */


/* Home Section Starts*/

/* Home Content Starts */
.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  min-height: 100vh;
  align-items: center;
}

.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home .content {
  flex: 1 1 35rem;
  padding-top: 8rem;
  z-index: 1;
}

.home .image {
  flex: 1 1 35rem;
  z-index: 1;
}

.home .image img {
  width: 80%;
  margin-left: 4rem;
  border-radius: 10%;
  box-shadow: 0 5px 5px black;
  cursor: pointer;
}

.home .image img:hover {
  box-shadow: 0 5px 5px white;
}

.home .content h2 {
  font-size: 3rem;
  color: orange;
}

.home .content h2 span {
  font-size: 3rem;
  color: snow;
}

.home .content p {
  font-size: 2rem;
  padding: 1rem 0;
  color: #39ace7;
}

.home .content p span {
  font-size: 2rem;
  color: greenyellow;
  padding: 1rem 0;
}

.home .btn {
  margin-top: 1rem;
  position: absolute;
  line-height: 0;
  padding: 1rem 2rem;
  border-radius: 4em;
  transition: 0.5s;
  color: snow;
  background: #121212;
  box-shadow: 1px 3px 3px snow;
}

.home .btn span {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

.home .btn i {
  margin-left: 0.3rem;
  font-size: 1rem;
  transition: 0.3s;
}

.home .btn:hover {
  background: #373737;
}

.home .btn:hover i {
  transform: translateX(5px);
}

/* Home Content Ends */

/* Home Social Icons Start */

.socials {
  position: relative;
  margin-top: 7rem;
}

.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
}

.social-icons a {
  font-size: 2rem;
  display: inline-block;
  line-height: 50px;
  color: #121212;
  background-color: #aaa;
  width: 50px;
  height: 50%;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #0685da;
}

.social-icons a.github:hover {
  background-color: #0e0e0e;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

/* Home Social Icons Ends */

/* Home Media Queries Starts*/

@media (max-width: 450px) {
  .home .btn {
    margin: 4rem 0;
  }

  .socials {
    margin-top: 12rem;
  }

  .home .image img {
    margin-top: -12rem;
  }

  .home .content p {
    font-size: 2.2rem;
  }

  .home .content p span {
    font-size: 2.2rem;
  }
}

/* Home Media Queries Ends*/

/* Home Section Ends */


/* About Section Starts */

.heading {
  font-size: 1.9rem;
  color: yellowgreen;
  text-align: center;
}

.heading span {
  color: yellowgreen;
}

.about .row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 4rem;
}

.about .row .image {
  text-align: center;
  flex: 1 1 20rem;
}

.about .row .image img {
  margin-top: 9rem;
  width: 20rem;
  border-radius: 5%;
  box-shadow: 0 5px 5px black;
  transition: 0.3s;
  cursor: pointer;
}

.about .row .image img:hover {
  mix-blend-mode: normal;
  box-shadow: 0 5px 5px snow;
}

.about .row .content {
  flex: 1 1 45rem;
  padding: 3rem;
}

.about .row .content h3 {
  color: snow;
  font-size: 2rem;
}

.about .row .content .tag {
  font-size: 1rem;
  color: wheat;
  margin-top: 1rem;
}

.about .row .content p {
  color: #aaa;
  font-size: 1.3rem;
  margin-top: 1.5rem;
  text-transform: none;
}

.about .row .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .row .content .box-container .box p {
  text-transform: none;
}

.about .row .content .box-container .box p span {
  color: #39ace7;
}

.resumebtn {
  margin-top: 6rem;
}

.resumebtn .btn {
  padding: 1rem 1rem;
  border-radius: 0.5em;
  transition: 0.3s;
  color: snow;
  background: #121212;
  box-shadow: 0px 3px 3px snow;
}

.resumebtn .btn span {
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
}

.resumebtn .btn i {
  margin-left: 0.3rem;
  font-size: 1.2rem;
  transition: 0.3s;
}

.resumebtn .btn:hover {
  background: #373737;
}

.resumebtn .btn:hover i {
  transform: translateX(5px);
}

/* About Media Queries Starts*/
@media screen and (max-width: 600px) {
  .about .row {
    display: block;
  }

  .about .row .image {
    margin-top: 2rem;
  }

  .about .row .image img {
    margin: 0 auto;
    width: 70%;
    mix-blend-mode: normal;
  }

  .about .resumebtn {
    margin-top: 5rem;
  }

  .about .row {
    padding: 0.5rem;
    margin-bottom: 5rem;
  }

  .about .row .content {
    margin-top: 7rem;
    padding: 1rem;
  }

  .about .row .content .box-container {
    gap: 0;
  }
}

/* About Media Queries Ends*/

/* About Section Ends */


/* Skills Section Starts */

.skills {
  min-height: 90vh;
  background: linear-gradient(to bottom, #212121, #121212);
}

.skills .container {
  background: #3d3d3d;
  color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
}

.skills .container .row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  flex-wrap: wrap;
  gap: 1.5rem;
}

.skills .container .bar {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 0 2px 5px skyblue;
  background-color: #121212 !important;
  transition: 0.2s;
}

.skills .container .bar:hover {
  box-shadow: 0 2px 10px snow !important;
  background: #3d3d3d !important;
}

.skills .container .bar .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.skills .container .bar .info i {
  font-size: 2rem;
}

.skills .container .bar .info span {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 0.5rem;
}

/* skills media queries starts*/
@media screen and (max-width: 600px) {
  .skills .container {
    padding: 0;
    margin: 0;
  }

  .skills .container .row {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    padding: 2rem 0.2rem 2rem 0.2rem;
    gap: 1rem;
  }

  .skills .container {
    margin-top: 5px;
    width: 100%;
  }
}

/* Skills Media Queries Ends*/

/* Skills Section Starts */


/* Achievments Section Starts */


.achievments {
  background: linear-gradient(to bottom, #212121, #121212);
}

.achievments .timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.achievments .timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  background: #3d3d3d;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -2;
}

.achievments .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* Circles on Timeline */

.achievments .container::after {
  content: "\f0b1";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -14px;
  background-color: #3d3d3d;
  border: 1px solid snow;
  top: 35px;
  border-radius: 50%;
  z-index: 100;
  text-align: center;
  color: #373737;
  font-family: "Font Awesome\ 5 Free";
}

.achievments .left {
  left: 0;
}

.achievments .right {
  left: 50%;
}

.achievments .right::after {
  left: -16px;
}

.achievments .content {
  background-color: #3d3d3d;
  position: relative;
  border-radius: 6px;
}

.achievments .content .tag {
  color: white;
  font-size: 1rem;
  padding-top: .5rem;
  padding-left: 1rem;
}

.achievments .content .desc {
  margin-left: 1rem;
  padding-bottom: .5rem;
}

.achievments .content .desc h3 {
  color: wheat;
  font-size: 1rem;
}

.achievments .content .desc p {
  color: #aaa;
  font-size: 1rem;
  padding-right: 1rem;
}

/* Achievments Media Queries Starts */

@media screen and (max-width: 650px) {
  .achievments {
    min-height: 80vh;
  }

  .achievments .timeline {
    margin-top: 2rem;
  }

  .achievments .timeline::after {
    left: 31px;
  }

  .achievments .container {
    width: 100%;
    padding-left: 8rem;
    padding-right: 2rem;
  }

  .achievments .container::after {
    font-size: 2.2rem;
  }

  .achievments .container::before {
    left: 61px;
    border: medium solid #f68c09;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f68c09 transparent transparent;
  }

  .achievments .left::after {
    left: 15px;
  }

  .achievments .right::after {
    left: 15px;
  }

  .achievments .right {
    left: 0%;
  }
}

/* Achievments Media Queries Ends */

/* Achievments Section Ends */


/* Contact Section Starts */

.contact {
  background: linear-gradient(to bottom, #212121, #121212);
  min-height: 60vh;
}

.contact .container {
  max-width: 1000px;
  width: 100%;
  background: #3d3d3d;
  border-radius: 1rem;
  margin: 1rem 10rem;
  box-shadow: 0 3px 5px snow;
}

.contact .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.contact .content .image-box {
  max-width: 60%;
  margin-left: 4rem;
}

.contact .content .image-box img {
  width: 100%;
  height: 20rem;
  position: relative;
}

.contact .content form {
  width: 45%;
  margin-right: 3.5rem;
}

form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group .field {
  height: 50px;
  display: flex;
  position: relative;
  margin: .5rem;
  width: 100%;
}

form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: #121212;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}

form .field input,
form .message textarea {
  text-transform: none;
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 16px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid snow;
  background: #aaa;
}

.field input::placeholder,
.message textarea::placeholder {
  color: black;
}

.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid #3d3d3d;
}

.field input:focus~i,
.message textarea:focus~i {
  color: black;
}

form .message {
  position: relative;
  margin: .5rem;
  width: 100%;
}

form .message i {
  top: 25px;
  font-size: 20px;
  left: 15px;
}

form .message textarea {
  min-height: 80px;
  max-height: 200px;
  max-width: 100%;
  min-width: 100%;
  padding: 12px 20px 0 48px;
}

form .message textarea::-webkit-scrollbar {
  width: 0px;
}

form .button-area {
  display: flex;
  float: right;
  flex-direction: row-reverse;
}

.button-area button {
  color: snow;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #121212;
  box-shadow: 0px 3px 5px snow;
  transition: 0.3s ease;
  letter-spacing: 0.2rem;
}

.button-area button:hover {
  background: #212121;
}

.button-area span {
  font-size: 17px;
  padding: 1rem;
  display: none;
}

.button-area button i {
  position: relative;
  top: 6px;
  left: 2px;
  font-size: .8rem;
  transition: 0.3s;
  color: #fff;
}

.button-area button:hover i {
  left: 8px;
}

/* Contact Section Media Queries Starts */

@media (max-width: 900px) {
  .contact {
    min-height: 70vh;
  }

  .contact .container {
    margin: 3rem 0 2rem 0;
  }

  .contact .container .content {
    padding: 18px 12px;
  }

  .contact .content .image-box {
    display: none;
  }

  .contact .content form {
    width: 100%;
    margin-right: 2rem;
  }
}

/* Contact Section Media Queries Ends */

/* Contact Section Starts */


/* Footer Section Starts */

.footer {
  min-height: auto;
  padding-top: 0;
  background: linear-gradient(to bottom, #212121, #121212);
}

.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 1rem;
}

.footer .box-container .box h3 {
  font-size: 1.3rem;
  color: snow;
  padding-bottom: 1rem;
}

.footer .box-container .box p {
  font-size: 1rem;
  color: #ccc;
  padding: 0.2rem 0.3rem;
  text-transform: none;
}

.footer .box-container .box p i {
  padding-right: 1rem;
  color: #ccc;
}

.footer .box-container .box a {
  font-size: 1rem;
  color: #ccc;
  padding: 0.3rem 0;
  display: block;
}

.footer .box-container .box a:hover {
  color: skyblue;
}

.footer .box-container .box .share {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.footer .box-container .box .share a {
  height: 2.5rem;
  width: 2.5rem;
  padding: .5rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.3rem;
  margin-right: 1rem;
  transition: 0.2s;
  background: #eee;
  color: #181818;
  border: none;
}

.footer .box-container .box .share a:hover {
  background: transparent;
  transform: scale(0.98);
  border: 0.1rem solid snow;
  color: snow;
}

.footer .credit {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  border-top: 0.1rem snow;
}

.footer .credit a {
  color: orangered;
}

.footer .fa {
  color: red;
  margin: 0 0.3rem;
  font-size: 1rem;
  animation: pound 0.35s infinite alternate;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}

@keyframes pound {
  to {
    transform: scale(1.1);
  }
}

@media (max-width: 450px) {
  .footer .box-container .box {
    margin: 1.5rem;
  }

  .footer .box-container .box p {
    padding: 0.7rem;
  }

  .footer .box-container .box .share a {
    padding: 1.2rem;
  }
}

/* Footer Section Ends */


/* Common Media Queries Starts*/

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  body {
    padding-right: 0;
  }

  section {
    padding: 2rem;
  }
}

/* Common Media Queries Ends */


/* Scroll Top Starts */

#scroll-top {
  position: fixed;
  top: -140%;
  right: 1rem;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  background: #aaa;
  color: #121212;
  border-radius: 50%;
  transition: 1s linear;
  z-index: 1000;
}

#scroll-top.active {
  top: calc(100% - 12rem);
}

/* Scroll Top Ends */